# 一、資料集介紹

資料集網址：[Covid Data](https://www.kaggle.com/datasets/meirnizri/covid19-dataset)
預測問題：病患在確定得到 Covid Data 後是否會死亡
目標變數：DATE_DIED（紀錄病人死亡日期，如果沒有死亡則輸入 9999-99-99 表示。）

# 二、變數敘述統計＆資料前處理

## (一)、變數敘述統計

In [34]:
# 針對連續性變數做敘述統計
import pandas as pd

df = pd.read_csv("./covid_data.csv")
df.describe()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,1.632194e+00,8.980565e+00,1.499259e+00,1.190765e+00,7.952288e+01,3.346831e+00,4.179410e+01,4.976558e+01,2.186404e+00,2.260569e+00,2.242626e+00,2.298132e+00,2.128989e+00,2.435143e+00,2.261810e+00,2.125176e+00,2.257180e+00,2.214333e+00,5.305653e+00,7.955397e+01
std,4.822084e-01,3.723278e+00,4.999997e-01,3.929041e-01,3.686889e+01,1.191288e+01,1.690739e+01,4.751073e+01,5.424242e+00,5.132258e+00,5.114089e+00,5.462843e+00,5.236397e+00,6.646676e+00,5.194850e+00,5.175445e+00,5.135354e+00,5.323097e+00,1.881165e+00,3.682307e+01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,1.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,3.000000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,9.700000e+01
50%,2.000000e+00,1.200000e+01,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,4.000000e+01,9.700000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,6.000000e+00,9.700000e+01
75%,2.000000e+00,1.200000e+01,2.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,5.300000e+01,9.700000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,9.700000e+01
max,2.000000e+00,1.300000e+01,2.000000e+00,2.000000e+00,9.900000e+01,9.900000e+01,1.210000e+02,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,7.000000e+00,9.900000e+01

In [35]:
import pandas as pd

df = pd.read_csv("./covid_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

In [36]:
import pandas as pd

# 讀取資料集
df = pd.read_csv('covid_data.csv')

# 定義缺失值的條件（97 或 99）
missing_values = [97, 98, 99]

# 遍歷所有欄位，去除包含 97 或 99 的行
df_cleaned = df[~df.isin(missing_values).any(axis=1)]

df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76749 entries, 5 to 1048569
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   USMER                 76749 non-null  int64
 1   MEDICAL_UNIT          76749 non-null  int64
 2   SEX                   76749 non-null  int64
 3   PATIENT_TYPE          76749 non-null  int64
 4   DATE_DIED             76749 non-null  object
 5   INTUBED               76749 non-null  int64
 6   PNEUMONIA             76749 non-null  int64
 7   AGE                   76749 non-null  int64
 8   PREGNANT              76749 non-null  int64
 9   DIABETES              76749 non-null  int64
 10  COPD                  76749 non-null  int64
 11  ASTHMA                76749 non-null  int64
 12  INMSUPR               76749 non-null  int64
 13  HIPERTENSION          76749 non-null  int64
 14  OTHER_DISEASE         76749 non-null  int64
 15  CARDIOVASCULAR        76749 non-null  int64
 16  OBESITY               76749 non-null  int64
 17  RENAL_CHRONIC         76749 non-null  int64
 18  TOBACCO               76749 non-null  int64
 19  CLASIFFICATION_FINAL  76749 non-null  int64
 20  ICU                   76749 non-null  int64
dtypes: int64(20), object(1)
memory usage: 12.9+ MB

In [37]:
# 將所有欄位類型列為字典
dtype_dict = {col: 'object' for col in df_cleaned.columns if col != 'AGE'}

# 使用 astype() 轉換資料類型
df_cleaned = df_cleaned.astype(dtype_dict)
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76749 entries, 5 to 1048569
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   USMER                 76749 non-null  object
 1   MEDICAL_UNIT          76749 non-null  object
 2   SEX                   76749 non-null  object
 3   PATIENT_TYPE          76749 non-null  object
 4   DATE_DIED             76749 non-null  object
 5   INTUBED               76749 non-null  object
 6   PNEUMONIA             76749 non-null  object
 7   AGE                   76749 non-null  int64
 8   PREGNANT              76749 non-null  object
 9   DIABETES              76749 non-null  object
 10  COPD                  76749 non-null  object
 11  ASTHMA                76749 non-null  object
 12  INMSUPR               76749 non-null  object
 13  HIPERTENSION          76749 non-null  object
 14  OTHER_DISEASE         76749 non-null  object
 15  CARDIOVASCULAR        76749 non-null  object
 16  OBESITY               76749 non-null  object
 17  RENAL_CHRONIC         76749 non-null  object
 18  TOBACCO               76749 non-null  object
 19  CLASIFFICATION_FINAL  76749 non-null  object
 20  ICU                   76749 non-null  object
dtypes: int64(1), object(20)
memory usage: 12.9+ MB

In [38]:
# 建立 IS_DIED 欄位：判斷 DATE_DIED 是否為 '9999-99-99'，是的話表示病患沒有死亡（顯示 0，反之則為 1）
df_cleaned['IS_DIED'] = df_cleaned['DATE_DIED'].apply(lambda x: 0 if x == '9999-99-99' else 1)
df_cleaned['IS_DIED'] = df_cleaned['IS_DIED'].astype('object')

# 捨棄 DATE_DIED 欄位
df_cleaned = df_cleaned.drop(columns=['DATE_DIED'])

df_cleaned["IS_DIED"].value_counts()

IS_DIED
0    52940
1    23809
Name: count, dtype: int64

In [39]:
# 針對類別型變數做敘述統計
import pandas as pd

pd.set_option('display.max_colwidth', None)

def generate_code_description(column):
    return ", ".join([f"{val}: {count}" for val, count in df_cleaned[column].value_counts().items()])

category_columns = df_cleaned.select_dtypes(include=['object']).columns
summary = pd.DataFrame({
    "Variable": category_columns,
    "Code": [generate_code_description(col) for col in category_columns],
})
summary

,Variable,Code
0,USMER,"1: 42080, 2: 34669"
1,MEDICAL_UNIT,"4: 36165, 12: 26005, 6: 5934, 9: 3141, 3: 1651, 8: 1225, 10: 1224, 5: 693, 11: 461, 7: 119, 13: 102, 2: 19, 1: 10"
2,SEX,1: 76749
3,PATIENT_TYPE,2: 76749
4,INTUBED,"2: 65111, 1: 11638"
5,PNEUMONIA,"1: 43579, 2: 33170"
6,PREGNANT,"2: 74957, 1: 1792"
7,DIABETES,"2: 52446, 1: 24303"
8,COPD,"2: 73031, 1: 3718"
9,ASTHMA,"2: 74066, 1: 2683"
10,INMSUPR,"2: 73574, 1: 3175"
11,HIPERTENSION,"2: 48493, 1: 28256"
12,OTHER_DISEASE,"2: 71672, 1: 5077"
13,CARDIOVASCULAR,"2: 72790, 1: 3959"
14,OBESITY,"2: 59502, 1: 17247"
15,RENAL_CHRONIC,"2: 71939, 1: 4810"
16,TOBACCO,"2: 73406, 1: 3343"
17,CLASIFFICATION_FINAL,"3: 39963, 7: 26777, 6: 6444, 5: 1985, 1: 741, 2: 590, 4: 249"
18,ICU,"2: 70772, 1: 5977"
19,IS_DIED,"0: 52940, 1: 23809"

## (二)、資料前處理

In [40]:
import pandas as pd
from scipy.stats import chi2_contingency

# 假設 df_cleaned 是目前的資料集
target_var = 'IS_DIED'

# 初始化列表來存儲卡方檢定結果
chi2_results = []

# 遍歷所有類別型欄位（排除目標變數 IS_DIED 本身）
for col in df_cleaned.select_dtypes(include='object').columns:
    if col != target_var:
        # 建立列聯表（Contingency Table）
        contingency_table = pd.crosstab(df_cleaned[col], df_cleaned[target_var])

        # 卡方檢定
        chi2, p, dof, _ = chi2_contingency(contingency_table)

        # 存儲結果
        chi2_results.append({
            'Feature': col,
            'Chi2 Statistic': chi2,
            'p-value': round(p, 10),
            'Significant (p < 0.05)': p < 0.05
        })

# 將結果整理為 DataFrame 並按 p-value 排序
chi2_results_df = pd.DataFrame(chi2_results).sort_values(by='p-value', ascending=True)
chi2_results_df

                 Feature  Chi2 Statistic       p-value  Significant (p < 0.05)
0                  USMER      227.752176  0.000000e+00                    True
15         RENAL_CHRONIC      360.018659  0.000000e+00                    True
14               OBESITY      215.454691  0.000000e+00                    True
13        CARDIOVASCULAR      104.198497  0.000000e+00                    True
11          HIPERTENSION     2428.562226  0.000000e+00                    True
17  CLASIFFICATION_FINAL     5282.884017  0.000000e+00                    True
8                   COPD      187.846263  0.000000e+00                    True
9                 ASTHMA       52.049811  0.000000e+00                    True
6               PREGNANT      621.412488  0.000000e+00                    True
5              PNEUMONIA     3326.443461  0.000000e+00                    True
4                INTUBED    13685.732861  0.000000e+00                    True
1           MEDICAL_UNIT     1414.277548  0.000000e+00                    True
7               DIABETES     1976.485064  0.000000e+00                    True
18                   ICU      514.968884  0.000000e+00                    True
12         OTHER_DISEASE       31.765261  1.740000e-08                    True
16               TOBACCO        2.902408  8.844734e-02                   False
10               INMSUPR        2.402254  1.211606e-01                   False
3           PATIENT_TYPE        0.000000  1.000000e+00                   False
2                    SEX        0.000000  1.000000e+00                   False

In [41]:
# 清除卡方檢定不符合規定的欄位，並生成新的資料集
df_selected_cleaned = df_cleaned.copy()
for tmp in chi2_results:
    if not tmp.get("Significant (p < 0.05)"):
        df_selected_cleaned = df_selected_cleaned.drop(columns=[tmp.get("Feature")])

df_selected_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76749 entries, 5 to 1048569
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   USMER                 76749 non-null  object
 1   MEDICAL_UNIT          76749 non-null  object
 2   INTUBED               76749 non-null  object
 3   PNEUMONIA             76749 non-null  object
 4   AGE                   76749 non-null  int64
 5   PREGNANT              76749 non-null  object
 6   DIABETES              76749 non-null  object
 7   COPD                  76749 non-null  object
 8   ASTHMA                76749 non-null  object
 9   HIPERTENSION          76749 non-null  object
 10  OTHER_DISEASE         76749 non-null  object
 11  CARDIOVASCULAR        76749 non-null  object
 12  OBESITY               76749 non-null  object
 13  RENAL_CHRONIC         76749 non-null  object
 14  CLASIFFICATION_FINAL  76749 non-null  object
 15  ICU                   76749 non-null  object
 16  IS_DIED               76749 non-null  object
dtypes: int64(1), object(16)
memory usage: 10.5+ MB

In [23]:
# 針對類別變數進行編碼，避免數值大小影響排序
dummy_df = pd.get_dummies(df_cleaned, dtype=int)
dummy_df.head()

,AGE,USMER_1,USMER_2,MEDICAL_UNIT_1,MEDICAL_UNIT_2,MEDICAL_UNIT_3,MEDICAL_UNIT_4,MEDICAL_UNIT_5,MEDICAL_UNIT_6,MEDICAL_UNIT_7,...,CLASIFFICATION_FINAL_2,CLASIFFICATION_FINAL_3,CLASIFFICATION_FINAL_4,CLASIFFICATION_FINAL_5,CLASIFFICATION_FINAL_6,CLASIFFICATION_FINAL_7,ICU_1,ICU_2,IS_DIED_0,IS_DIED_1
5,40,0,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,1,0
8,37,0,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,1,0
9,25,0,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,1,0
16,80,0,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
56,58,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0